{% macro reportIssue(headingLevel, headingClass) %}
  <{{ headingLevel }} id="how-to-report-an-issue" tabindex="-1" class="govuk-heading-{{ headingClass }} govuk-!-padding-top-4">How to report an issue</{{ headingLevel }}>
{% endmacro %}