{% macro listItemsWithLink(listClass, listItem) %}
  <ul class="{{ listClass }} govuk-list">
    {% for i in range(0, listItem | length ) %}
      {% if listItem[i].link and listItem[i].title %}
        <li>
          <a class="govuk-link" href="{{ listItem[i].link }}">{{ listItem[i].title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% endmacro %}