{% if accessibilty %}
  <section class="doc-accessibility-criteria">
    <h2 id="accessibility-criteria" tabindex="-1" class="govuk-heading-l govuk-!-padding-top-4">Accessibility criteria</h2>
    {{ accessibilty | markdown }}
  </section>
{% endif %}