{% from 'macros/unordered-list-item-with-link.njk' import listItemsWithExternalLink %}

{% if examples[0].link and examples[0].title %}
  <section class="doc-examples">
    {% if (examples | length ) > 1 %}
      <h2 id="live-examples" tabindex="-1" class="govuk-heading-l govuk-!-padding-top-4">Live examples</h2>
      {{ listItemsWithExternalLink("doc-examples__list govuk-list--spaced", examples) }}
      {% if contentDataLink %}
        <p class="govuk-body">Complete list of examples available and page data on <a href="{{ contentDataLink }}" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer" target="_blank">Content Data  (opens in a new tab)</a>.</p>
      {% endif %}
    {% else %}
      <h2 id="live-example" tabindex="-1" class="govuk-heading-l govuk-!-padding-top-4">Live example</h2>
      <p class="govuk-body">
        {% if examples[0].welsh == true %}
          <span lang="cy">
            <a class="govuk-link" href="{{ examples[0].link }}" rel="noopener noreferrer" target="_blank">{{ examples[0].title }} (opens in a new tab)</a>
          </span>
        {% else %}
          <a class="govuk-link" href="{{ examples[0].link }}" rel="noopener noreferrer" target="_blank">{{ examples[0].title }} (opens in a new tab)</a>
        {% endif %}
      </p>
      {% if contentDataLink %}
        <p class="govuk-body">Page data available on <a href="{{ contentDataLink }}" class="govuk-link govuk-link--no-visited-state" rel="noopener noreferrer" target="_blank">Content Data (opens in a new tab)</a>.</p>
      {% endif %}
    {% endif %}
  </section>      
{% endif %}