{% if figmaLink %}
  <section class="doc-figma-file govuk-!-margin-bottom-6">
    <iframe style="border: 1px solid #b1b4b6;" width="100%" height="450" src="{{ figmaLink }}" allowfullscreen></iframe>
  </section>
{% endif %}