<section class="doc-help-improve">
  <h2 class="govuk-heading-l">Help improve this {% if layout == "component-documentation" %}component{% elif layout == "pattern-documentation" %}pattern{% elif layout == "frontend-template-documentation" %}frontend template{% endif %}</h2>
  <p class="govuk-body">To help make sure that this page is useful, relevant and up to date, instructions on how to contribute can be found on the <a class="govuk-link" href="https://github.com/nnagewad/DesignLibrary?tab=readme-ov-file#how-to-contribute" rel="noopener noreferrer" target="_blank">GitHub repository (opens in a new tab)</a>.</p>
</section>