{% from "macros/code-examples.njk" import example %}

{% if howItLooks %}
  <section class="doc-how-it-looks">
    <h2 class="govuk-heading-l">How it looks</h2>
    <div class="component-visual">{{ example({item: "breadcrumbs"}) }}</div>
    <ul class="tabs">
      <li>HTML</li>
      <li>Nunjucks</li>
      <li>Figma</li>
    </ul>
    <div class="tabs-content">
      <textarea disabled rows="13">{{ example({item: "breadcrumbs"}).trim() }}</textarea>
    </div>
  </section>
{% endif %}

<style>
  .doc-how-it-looks {
    margin: 0 0 1rem;
  }

  .component-visual {
    border: solid 1px rgb(128, 128, 128);
    padding: 1rem;
  }

  .tabs-content textarea {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
</style>
