{% if howItWorks %}
  <section class="doc-how-it-works">
    <h2 class="govuk-heading-l">How it works</h2>
    {{ howItWorks | markdown }}
    {% if variations[0].description %}
      {% for i in range(0, variations | length ) %}
        <h3 class="govuk-heading-m">{{ variations[i].title }}</h3>
        {% if variations[i].description %}
          {{ variations[i].description | markdown }}
        {% endif %}
      {% endfor %}
    {% endif %}
  </section>
{% endif %}