<section class="doc-improve">
  {% if sectionKey === "Frontend templates" %}
    <h2 class="govuk-heading-l">How to improve this frontend template</h2>
  {% elif sectionKey === "Components" %}
  <h2 class="govuk-heading-l">How to improve this component</h2>
  {% endif %}
  <p class="govuk-body">We need your help.</p>
</section>