{% from 'macros/unordered-list-item-with-link.njk' import listItemsWithExternalLink %}
{% from 'macros/report-issue.njk' import reportIssue %}

{% if issues[0].link and issues[0].title %}
  <section class="doc-issues">
    {% if (issues | length ) > 1 %}
      {% if sectionKey === "Frontend templates" %}
        <h2 id="existing-issue" tabindex="-1" class="govuk-heading-l govuk-!-padding-top-4">Existing issues with this frontend template</h2>
      {% elif sectionKey === "Components" %}
        <h2 id="existing-issue" tabindex="-1" class="govuk-heading-l govuk-!-padding-top-4">Existing issues with this component</h2>
      {% elif sectionKey === "Patterns" %}
        <h2 id="existing-issues" tabindex="-1" class="govuk-heading-l govuk-!-padding-top-4">Existing issues with this pattern</h2>
      {% endif %}
      {{ listItemsWithExternalLink("doc-issues__list govuk-list--spaced", issues) }}
      {{ reportIssue("h3", "m") }}
      {% include "./instructions-report-issue.njk" %}
    {% else %}
      {% if sectionKey === "Frontend templates" %}
        <h2 id="existing-issue" tabindex="-1" class="govuk-heading-l govuk-!-padding-top-4">An existing issue with this frontend template</h2>
      {% elif sectionKey === "Components" %}
        <h2 id="existing-issue" tabindex="-1" class="govuk-heading-l govuk-!-padding-top-4">An existing issue with this component</h2>
      {% elif sectionKey === "Patterns" %}
        <h2 id="existing-issues" tabindex="-1" class="govuk-heading-l govuk-!-padding-top-4">An existing issue with this pattern</h2>
      {% endif %}
      <p class="govuk-body">
        <a class="govuk-link" href="{{ issues[0].link }}" rel="noopener noreferrer" target="_blank">{{ issues[0].title }} (opens in a new tab)</a>
      </p>
      {{ reportIssue("h3", "m") }}
      {% include "./instructions-report-issue.njk" %}
    {% endif %}
{% else %}
    {{ reportIssue("h2", "l") }}
    {% include "./instructions-report-issue.njk" %}
  </section>
{% endif %}