{% from 'macros/unordered-list-item-with-link.njk' import listItemsWithLink %}
{% from 'macros/report-issue.njk' import reportIssue %}

{% if issues[0].link and issues[0].title %}
  <section class="doc-issues">
    {% if (issues | length ) > 1 %}
      {% if sectionKey === "Frontend templates" %}
        <h2 class="doc-issues__title govuk-heading-l">Existing issues with this frontend template</h2>
      {% elif sectionKey === "Components" %}
        <h2 class="doc-issues__title govuk-heading-l">Existing issues with this component</h2>
      {% elif sectionKey === "Patterns" %}
        <h2 class="doc-issues__title govuk-heading-l">Existing issues with this pattern</h2>
      {% endif %}
      {{ listItemsWithLink("doc-issues__list", issues) }}
      {% if issueLink %}
        {{ reportIssue("h3", "m") }}
        {% include "./instructions-report-issue.njk" %}
      {% endif %}
    {% else %}
      {% if sectionKey === "Frontend templates" %}
        <h2 class="doc-issues__title govuk-heading-l">An existing issue with this frontend template</h2>
      {% elif sectionKey === "Components" %}
        <h2 class="doc-issues__title govuk-heading-l">An existing issue with this component</h2>
      {% elif sectionKey === "Patterns" %}
        <h2 class="doc-issues__title govuk-heading-l">An existing issue with this pattern</h2>
      {% endif %}
      <p class="govuk-body">
        <a class="govuk-link" href="{{ issues[0].link }}">{{ issues[0].title }}</a>
      </p>
      {% if issueLink %}
        {{ reportIssue("h3", "m") }}
        {% include "./instructions-report-issue.njk" %}
      {% endif %}
    {% endif %}
{% else %}
    {% if issueLink %}
      {{ reportIssue("h2", "l") }}
      {% include "./instructions-report-issue.njk" %}
    {% endif %}
  </section>
{% endif %}