<div class="govuk-grid-column-one-quarter-from-desktop">
  {{ xGovukSubNavigation({
    items: collections.navigation | eleventyNavigation(sectionKey or options.homeKey) | itemsFromNavigation(page.url, options, true)
  }) }}
</div>