{% if (synonym | length ) > 1 %}
  <h2 id="synonyms" tabindex="-1" class="govuk-heading-l govuk-!-padding-top-4">Synonyms</h2>
  <ul class="govuk-list govuk-list--bullet">
    {% for i in range(0, synonym | length ) %}
      {% if synonym[i].title and synonym[i].link %}
        <li>
          <a class="govuk-link" href="{{ synonym[i].link }}">{{ synonym[i].title }}</a> — {{ synonym[i].definition }}
        </li>
      {% elif synonym[i].title %}
        <li>
          {{ synonym[i].title }} — {{ synonym[i].definition }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{% else %}
  <h2 id="synonym" tabindex="-1" class="govuk-heading-l govuk-!-padding-top-4">Synonym</h2>
  {% if synonym[0].title and synonym[0].link %}
    <p>
      <a class="govuk-link" href="{{ synonym[0].link }}">{{ synonym[0].title }}</a> — {{ synonym[0].definition }}
    </p>
  {% elif synonym[0].title %}
    <p>
      {{ synonym[0].title }} — {{ synonym[0].definition }}
    </p>
  {% endif %}
{% endif %}