{% if whenNotToUse %}
  <section class="doc-when-not-to-use-component">
    <h2 id="when-not-to-use" tabindex="-1" class="govuk-heading-l govuk-!-padding-top-4">When not to use this component</h2>
    {{ whenNotToUse | markdown }}
  </section>
{% endif %}