{% extends "govuk/template.njk" %}

{% set assetUrl = assetPath | canonicalUrl %}
{% set themeColor = options.themeColour %}

{# Set the opengraphImageUrl in parent template to either the one
   from the page metadata or else fallback to the generic one from options. #}
{% set opengraphImage = image if image.opengraphImage else opengraphImage %}
{% set opengraphImageUrl = (opengraphImage.src | canonicalUrl) if opengraphImage else options.opengraphImageUrl %}

{# Pagination #}
{% set pageNumber = pagination.pageNumber + 1 %}
{% set pageCount = pagination.pages | length %}

{# Navigation #}
{% set breadcrumbItems = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: includeInBreadcrumbs }) | itemsFromNavigation(page.url, options) if eleventyNavigation.key %}
{% set minimumItemsInBreadcrumbs = 0 %}
{% set minimumItemsInBreadcrumbs = 1 if options.parentSite %}
{% set showBreadcrumbs = options.showBreadcrumbs != false and breadcrumbItems | length > minimumItemsInBreadcrumbs %}

{# Components #}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}

{% from "x-govuk/components/masthead/macro.njk" import xGovukMasthead %}
{% from "x-govuk/components/related-navigation/macro.njk" import xGovukRelatedNavigation %}
{% from "x-govuk/components/sub-navigation/macro.njk" import xGovukSubNavigation %}

{% from "components/aside/macro.njk" import appAside %}
{% from "components/document-header/macro.njk" import appDocumentHeader %}
{% from "components/document-list/macro.njk" import appDocumentList %}
{% from "components/footer/macro.njk" import appFooter %}
{% from "components/header/macro.njk" import appHeader with context %}
{% from "components/prose-scope/macro.njk" import appProseScope %}

{% block headIcons %}
  <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{{ options.icons.shortcut }}" type="image/x-icon">
  <link rel="mask-icon" href="{{ options.icons.mask }}" color="{{ themeColor }}">
  <link rel="apple-touch-icon" href="{{ options.icons.touch }}">
{% endblock %}

{% block head %}
  {% if options.googleTagManagerIdentifier %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-{{ options.googleTagManagerIdentifier }}');</script>
    <!-- End Google Tag Manager -->
  {% endif %}
  <link rel="stylesheet" href="{{ "/assets/govuk.css" | canonicalUrl }}">
  {% for stylesheet in options.stylesheets %}
  <link rel="stylesheet" href="{{ stylesheet | canonicalUrl }}">
  {% endfor %}

  {% if options.feedUrl %}<link rel="alternate" type="application/atom+xml" href="{{ options.feedUrl | canonicalUrl }}" >{% endif %}

  {% if options.url %}<meta property="og:url" content="{{ page.url | canonicalUrl }}">{% endif %}
  <meta property="og:title" content="{{ title }}">
  {% if description %}<meta property="og:description" name="description" content="{{ description | markdown("inline") | striptags(true) }}">{% endif %}
  {% if opengraphImage %}<meta name="twitter:card" content="summary_large_image">{% endif %}
  {% if opengraphImage.src %}<meta name="twitter:image" content="{{ opengraphImage.src | canonicalUrl }}">
  {% endif %}
  {% if opengraphImage.alt %}<meta property="og:image:alt" content="{{ opengraphImage.alt }}">{% endif %}
{% endblock %}

{% block pageTitle %}
  {{- title if title -}}
  {{- " (page " + pageNumber + " of " + pageCount + ")" if pageCount > 1 -}}
  {{- " - " + options.titleSuffix if options.titleSuffix -}}
{% endblock %}

{% block header %}
  {{ appHeader(options.header) }}
  {{ govukServiceNavigation({
    navigationLabel: options.navigation.visuallyHiddenTitle,
    navigation: options.navigation.items | currentPage(page.url)
  }) if options.navigation }}
{% endblock %}

{% block footer %}
  {{ appFooter(options.footer) }}
{% endblock %}

{% block bodyEnd %}
  <script src="/assets/govuk.js" type="module"></script>
  {% block scripts %}{% endblock %}
{% endblock %}

{% block bodyStart %}
  {% if options.googleTagManagerIdentifier %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-{{ options.googleTagManagerIdentifier }}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  {% endif %}
  
  {% set html %}
    <p class="govuk-body">We use some essential cookies to make this service work.</p>
    <p class="govuk-body">We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
  {% endset %}

  {% set acceptHtml %}
    <p class="govuk-body">You’ve accepted analytics cookies. You can <a class="govuk-link" href="#">change your cookie settings</a> at any time.</p>
  {% endset %}

  {% set rejectedHtml %}
    <p class="govuk-body">You’ve rejected analytics cookies. You can <a class="govuk-link" href="#">change your cookie settings</a> at any time.</p>
  {% endset %}

  {{ govukCookieBanner({
    ariaLabel: "Cookies on GOV.UK Design Library",
    messages: [
      {
        headingText: "Cookies on GOV.UK Design Library",
        html: html,
        hidden: false,
        actions: [
          {
            text: "Accept additional cookies",
            type: "submit",
            name: "cookies[additional]",
            value: "yes"
          },
          {
            text: "Reject additional cookies",
            type: "submit",
            name: "cookies[additional]",
            value: "no"
          },
          {
            text: "View cookies",
            href: "/cookies"
          }
        ]
      },
      {
        html: acceptHtml,
        hidden: true,
        actions: [
          {
            text: "Hide cookie message",
            type: "submit",
            name: "cookies[hide]",
            value: "yes"
          }
        ]
      },
      {
        html: rejectedHtml,
        hidden: true,
        actions: [
          {
            text: "Hide cookie message",
            type: "submit",
            name: "cookies[hide]",
            value: "yes"
          }
        ]
      }
    ]
  }) }}
{% endblock %}