{% extends "layouts/main.njk" %}
{% from 'macros/unordered-list-item-with-link.njk' import listItemsWithLink %}

{% block content %}
  <div class="govuk-grid-row">
    {% include 'partials/sub-navigation.njk' %}
    
    <div class="govuk-grid-column-three-quarters-from-desktop">
      {% include 'partials/header.njk' %}
      {% include 'partials/figma.njk' %}
      {% include 'partials/when-to-use.njk' %}
      {% include 'partials/when-not-to-use.njk' %}
      {% include 'partials/how-it-works-with-variations.njk' %}
      {% include 'partials/insights.njk' %}
      {% include 'partials/accessibility.njk' %}

      {% if designSystems[0].link and designSystems[0].title %}
        <section class="doc-other-design-systems">
          <h2 class="govuk-heading-l">How other design systems document this component</h2>
          {% if (designSystems | length ) > 1 %}
            {{ listItemsWithLink("doc-design-systems__list", designSystems) }}
          {% else %}
            <p class="govuk-body">
              <a class="govuk-link" href="{{ designSystems[0].link }}"  rel="noopener noreferrer" target="_blank">{{ designSystems[0].title }} (opens in a new tab)</a>
            </p>
          {% endif %}
        </section>
      {% endif %}

      {% include 'partials/issues.njk' %}
      {% include 'partials/help-improve.njk' %}

      {{ appProseScope(content) if content }}

      {% include "layouts/shared/related.njk" %}
    </div>
  </div>
{% endblock %}