{% extends "layouts/base.njk" %}
{% from 'macros/unordered-list-item-with-link.njk' import listItemsWithLink %}

{% block content %}
  <div class="govuk-grid-row">
    {% include 'partials/sub-navigation.njk' %}
    
    <div class="govuk-grid-column-three-quarters-from-desktop">
      {% include 'partials/header.njk' %}
      {% include 'partials/when-to-use.njk' %}
      {% include 'partials/when-not-to-use.njk' %}
      {% include 'partials/accessibility.njk' %}
      {% include 'partials/how-it-works-with-variations.njk' %}
      {% include 'partials/insights.njk' %}

      {% if designLibraries[0].link and designLibraries[0].title %}
        <section class="doc-other-libraries">
          {% if (designLibraries | length ) > 1 %}
            <h2 class="govuk-heading-l">Other design libraries</h2>
            <p class="govuk-body">Other UK government design libraries that has documented this component.</p>
            {{ listItemsWithLink("doc-design-library__list", designLibraries) }}
          {% else %}
            <h2 class="govuk-heading-l">Other design library</h2>
            <p class="govuk-body">Another UK government design library that has documented this component.</p>
            <p class="govuk-body">
              <a class="govuk-link" href="{{ designLibraries[0].link }}">{{ designLibraries[0].title }}</a>
            </p>
          {% endif %}
        </section>
      {% endif %}

      {% include 'partials/issues.njk' %}

      {{ appProseScope(content) if content }}

      {% include "layouts/shared/related.njk" %}
    </div>
  </div>
{% endblock %}