{% extends "layouts/base.njk" %}

{% block beforeContent %}
  {% include 'partials/phase-banner.njk' %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    {% include 'partials/sub-navigation.njk' %}
    
    <div class="govuk-grid-column-three-quarters-from-desktop">
      {% include 'partials/header.njk' %}

      {% if howItWorks %}
        <section class="doc-how-it-works">
          <h2 class="govuk-heading-l">How it works</h2>
          {{ howItWorks | markdown }}
        </section>
      {% endif %}

      {% include 'partials/examples.njk' %}
      {% include 'partials/insights.njk' %}
      {% include 'partials/issues.njk' %}

      {{ appProseScope(content) if content }}

      {% include "layouts/shared/related.njk" %}
    </div>
  </div>
{% endblock %}