{% extends "layouts/base.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    {% include 'partials/sub-navigation.njk' %}
    
    <div class="govuk-grid-column-three-quarters-from-desktop">
      {% include 'partials/header.njk' %}
      {% include 'partials/how-it-works-with-variations.njk' %}
      {% include 'partials/examples.njk' %}
      {% include 'partials/insights.njk' %}
      {% include 'partials/issues.njk' %}

      {{ appProseScope(content) if content }}

      {% include "layouts/shared/related.njk" %}
    </div>
  </div>
{% endblock %}