{% extends "layouts/main.njk" %}
{% from 'macros/unordered-list-item-with-link.njk' import glossaryListItems %}

{% block content %}
  <div class="govuk-grid-row">
    {% include 'partials/sub-navigation.njk' %}
    
    <div class="govuk-grid-column-three-quarters-from-desktop">
      {% include 'partials/header.njk' %}
      {% if details %}
        <section class="doc-details">
          {{ details | markdown }}
        </section>
      {% endif %}
      {% if synonym[0].title %}
        <section class="doc-synonym">
          {{ glossaryListItems(synonym, 'Synonym', 'synonym') }}
        </section>
      {% endif %}
      {% if nonPreferred[0].title %}
        <section class="doc-non-preferred">
          {{ glossaryListItems(nonPreferred, 'Non-preferred term', 'non-preferred') }}
        </section>
      {% endif %}
      {% if relatedTerm[0].title %}
        <section class="doc-related-term">
          {{ glossaryListItems(relatedTerm, 'Related term', 'related-term') }}
        </section>
      {% endif %}
      {% if image.src %}
        <section class="doc-icon govuk-!-margin-top-7">
          <img class="govuk-!-width-full" src="{{ image.src }}" alt="{{ image.alt }}">
        </section>
      {% endif %}
      {{ appProseScope(content) if content }}

      {% include "layouts/shared/related.njk" %}
    </div>
  </div>
{% endblock %}