{% extends "layouts/sub-navigation.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    {% include 'partials/sub-navigation.njk' %}
    
    <div class="govuk-grid-column-three-quarters-from-desktop">
      {% include 'partials/header.njk' %}
      <section class="doc-details">
        {{ details | markdown }}
      </section>
      {{ appProseScope(content) if content }}
    </div>
  </div>
{% endblock %}