{# Extend GOV.UK Eleventy Plugin base layout #}
{% extends "layouts/base.njk" %}

{% from "macros/cookie-banner.njk" import cookieBanner %}

{% block bodyStart %}
  <a id="top"></a>
  <script>
    /**
     * If cookie policy changes and/or the user preferences object format needs to
     * change, bump this version up afterwards. The user should then be shown the
     * banner again to consent to the new policy.
     *
     * Note that because isValidCookieConsent checks that the version in the user's
     * cookie is equal to or greater than this number, you should be careful to
     * check backwards compatibility when changing the object format.
    */
    window.GDS_CONSENT_COOKIE_VERSION = 1;
  </script>

  {% set cookieBannerHTML %}
    <p class="govuk-body">We’d like to use analytics cookies so we can understand how you use the Design Guide and make improvements.</p>
    <p class="govuk-body">We also use essential cookies to remember if you’ve accepted analytics cookies.</p>
  {% endset %}    

  {{ cookieBanner({
      title: "GOV.UK Publishing Design Guide",
      html: cookieBannerHTML
    })
  }}

{% endblock %}

{% block scripts %}
  <script src="/assets/javascripts/application.bundle.js" type="module"></script>
{% endblock %}
