{% extends "layouts/base.njk" %}
{% from 'macros/unordered-list-item-with-link.njk' import listItemsWithLink %}

{% block beforeContent %}
  {% include 'partials/phase-banner.njk' %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    {% include 'partials/sub-navigation.njk' %}
    
    <div class="govuk-grid-column-three-quarters-from-desktop">
      {% include 'partials/header.njk' %}
      {% include 'partials/when-to-use.njk' %}
      {% include 'partials/when-not-to-use.njk' %}
      {% include 'partials/accessibility.njk' %}
      {% include 'partials/how-it-works-with-variations.njk' %}

      <section class="doc-components">
        <h2 class="govuk-heading-l">Components</h2>
        {{ listItemsWithLink("doc-components__list", components) }}
      </section>
      
      {% include 'partials/insights.njk' %}
      {% include 'partials/issues.njk' %}

      {{ appProseScope(content) if content }}

      {% include "layouts/shared/related.njk" %}
    </div>
  </div>
{% endblock %}