{% extends "layouts/main.njk" %}
{% from 'macros/unordered-list-item-with-link.njk' import listItemsWithExternalLink %}

{% block content %}
  <div class="govuk-grid-row">
    {% include 'partials/sub-navigation.njk' %}
    
    <div class="govuk-grid-column-three-quarters-from-desktop">
      {% include 'partials/header.njk' %}
      {% include 'partials/figma.njk' %}
      {% include 'partials/when-to-use.njk' %}
      {% include 'partials/when-not-to-use.njk' %}
      {% include 'partials/how-it-works-with-variations.njk' %}

      {% if components[0].title and components[0].link %}
        <section class="doc-components">
          <h2 id="components" tabindex="-1" class="govuk-heading-l govuk-!-padding-top-4">Components</h2>
          <p class="govuk-body">The components used within the {{ title | lower }} pattern:</p>
          {{ listItemsWithExternalLink("doc-components__list", components) }}
        </section>
      {% endif %}
      
      {% include 'partials/insights.njk' %}
      {% include 'partials/accessibility.njk' %}
      {% include 'partials/issues.njk' %}
      {% include 'partials/help-improve.njk' %}

      {{ appProseScope(content) if content }}

      {% include "layouts/shared/related.njk" %}
    </div>
  </div>
{% endblock %}